<%= render "dashboardpage/header.html.erb" %>

<br>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> Darian Poh </div>
                    <div class="profile-usertitle-job"> Developer </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-8 profile-info">
                    <h1 class="font-green sbold uppercase">Darian Poh</h1>
                    <p> There will be added staffs and patients personal detail. </p>

                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-map-marker"></i> Spain </li>
                        <li>
                            <i class="fa fa-calendar"></i> 18 Jan 1982 </li>
                        <li>
                            <i class="fa fa-user"></i> Design </li>
                        <li>
                            <i class="fa fa-star"></i> Top Seller </li>
                    </ul>

                    <p>
                        <i class="icon-notebook" style="padding-left: 5px;padding-right: 5px;"></i> patient.user@example.com
                    </p>
                </div>
                <!--end col-md-8-->
                <div class="col-md-4">
                    <div class="portlet sale-summary">
                        <div class="portlet-title">
                            <div class="caption font-red sbold"> Diagnosis Summary </div>
                            <div class="tools">
                                <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="sale-info"> Improved Diagnosis
                                        <i class="fa fa-img-up"></i>
                                    </span>
                                    <span class="sale-num"> 23 </span>
                                </li>
                                <li>
                                    <span class="sale-info"> Disimproved Diagnosis
                                        <i class="fa fa-img-down"></i>
                                    </span>
                                    <span class="sale-num"> 87 </span>
                                </li>
                                <li>
                                    <span class="sale-info"> Total Diagnosis </span>
                                    <span class="sale-num"> 2377 </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->

            <div class="tabbable-line tabbable-custom-profile">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="" data-toggle="tab" aria-expanded="false"> Alerts Summary </a>
                    </li>
                </ul>

                <div class="wrapper">
                
                
                    <div class="table">
                        
                        <div class="row-table header green">
                            <div class="cell-table">
                                Priority
                            </div>
                            <div class="cell-table">
                                Patient ID
                            </div>
                            <div class="cell-table">
                                Name
                            </div>
                            <div class="cell-table">
                                Alerts
                            </div>
                            <div class="cell-table">
                                Status
                            </div>
                            <div class="cell-table">
                                Read Clinian
                            </div>
                            <div class="cell-table">
                                Healthcare Worker
                            </div>
                            <div class="cell-table">
                                Sent/Received
                            </div>
                        </div>
                            
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>

                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>

                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table" onclick="table_row_click(this)">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>

                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Read
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                        
                        <div class="row-table">
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                1
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Will include alert
                            </div>
                            <div class="cell-table">
                                Unread
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                John
                            </div>
                            <div class="cell-table">
                                Mon, 1 Jan 2017 00:00:00
                            </div>
                        </div>
                    </div>
                        
                </div>

            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

<%= render "dashboardpage/footer.html.erb" %>

<script>
    $("#page-title").html("<h4>My Profile</h4>");
</script>