<%= render "dashboardpage/header.html.erb" %>

<link href="../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />

<br>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
            <span class="caption-subject bold uppercase"> My Patients</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false" onclick="note_click()">  Notes
                </a>
            </div>

            <div class="btn-group">
                <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Settings
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-pencil"></i> Edit </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Ban </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet box blue">
        <div class="portlet-title" style="background-color: #4795c4;">
            <div class="caption">
                <i class="fa fa-cogs"></i>Patient Lists </div>
            <div class="tools">
                <a href="javascript:;" class="reload" data-original-title="" title="" style="margin-left: -30px;"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col"> Priority </th>
                            <th scope="col"> Account ID </th>
                            <th scope="col"> Name </th>
                            <th scope="col"> Sex </th>
                            <th scope="col"> Age </th>
                            <th scope="col"> Address </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Level </th>
                            <th scope="col"> Last Response </th>
                            <th scope="col"> Order </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                        <tr>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                            <td> Table data </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="schedule">
    <div class="row schedule-calender">
        <div class="col-lg-6 col-xs-12 col-sm-12 col-lg-offset-3">
            <!-- BEGIN PORTLET-->
            <div class="portlet light calendar bordered">
                <div class="portlet-title ">
                    <div class="caption">
                        <i class="icon-calendar font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Feeds</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="calendar" class="fc fc-ltr fc-unthemed"><div class="fc-toolbar"><div class="fc-left"><h2>April 2017</h2></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default"><span class="fc-icon fc-icon-right-single-arrow"></span></button><button type="button" class="fc-today-button fc-button fc-state-default fc-state-disabled" disabled="disabled">today</button><button type="button" class="fc-month-button fc-button fc-state-default fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button></div></div><div class="fc-center"></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view"><table><thead class="fc-head"><tr><td class="fc-widget-header"><div class="fc-row fc-widget-header"><table><thead><tr><th class="fc-day-header fc-widget-header fc-sun">Sun</th><th class="fc-day-header fc-widget-header fc-mon">Mon</th><th class="fc-day-header fc-widget-header fc-tue">Tue</th><th class="fc-day-header fc-widget-header fc-wed">Wed</th><th class="fc-day-header fc-widget-header fc-thu">Thu</th><th class="fc-day-header fc-widget-header fc-fri">Fri</th><th class="fc-day-header fc-widget-header fc-sat">Sat</th></tr></thead></table></div></td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content"><div class="fc-day-grid-container"><div class="fc-day-grid"><div class="fc-row fc-week fc-widget-content"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2017-03-26"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2017-03-27"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2017-03-28"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2017-03-29"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2017-03-30"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2017-03-31"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-04-01"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2017-03-26">26</td><td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2017-03-27">27</td><td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2017-03-28">28</td><td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2017-03-29">29</td><td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2017-03-30">30</td><td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2017-03-31">31</td><td class="fc-day-number fc-sat fc-past" data-date="2017-04-01">1</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#F8CB00"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">All Day</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-04-02"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-04-03"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-04-04"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-04-05"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-04-06"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2017-04-07"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-04-08"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-04-02">2</td><td class="fc-day-number fc-mon fc-past" data-date="2017-04-03">3</td><td class="fc-day-number fc-tue fc-past" data-date="2017-04-04">4</td><td class="fc-day-number fc-wed fc-past" data-date="2017-04-05">5</td><td class="fc-day-number fc-thu fc-past" data-date="2017-04-06">6</td><td class="fc-day-number fc-fri fc-past" data-date="2017-04-07">7</td><td class="fc-day-number fc-sat fc-past" data-date="2017-04-08">8</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-04-09"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-04-10"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-04-11"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-04-12"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-04-13"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2017-04-14"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2017-04-15"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-04-09">9</td><td class="fc-day-number fc-mon fc-past" data-date="2017-04-10">10</td><td class="fc-day-number fc-tue fc-past" data-date="2017-04-11">11</td><td class="fc-day-number fc-wed fc-past" data-date="2017-04-12">12</td><td class="fc-day-number fc-thu fc-past" data-date="2017-04-13">13</td><td class="fc-day-number fc-fri fc-past" data-date="2017-04-14">14</td><td class="fc-day-number fc-sat fc-past" data-date="2017-04-15">15</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style=""><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2017-04-16"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2017-04-17"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2017-04-18"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2017-04-19"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2017-04-20"></td><td class="fc-day fc-widget-content fc-fri fc-today fc-state-highlight" data-date="2017-04-21"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-22"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2017-04-16">16</td><td class="fc-day-number fc-mon fc-past" data-date="2017-04-17">17</td><td class="fc-day-number fc-tue fc-past" data-date="2017-04-18">18</td><td class="fc-day-number fc-wed fc-past" data-date="2017-04-19">19</td><td class="fc-day-number fc-thu fc-past" data-date="2017-04-20">20</td><td class="fc-day-number fc-fri fc-today fc-state-highlight" data-date="2017-04-21">21</td><td class="fc-day-number fc-sat fc-future" data-date="2017-04-22">22</td></tr></thead><tbody><tr><td class="fc-event-container" colspan="3"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#89C4F4"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Long Event</span></div></a></td><td rowspan="2"></td><td rowspan="2"></td><td class="fc-event-container" rowspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#95a5a6"><div class="fc-content"><span class="fc-time">2p</span> <span class="fc-title">Lunch</span></div></a></td><td class="fc-event-container" rowspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#9b59b6"><div class="fc-content"><span class="fc-time">7p</span> <span class="fc-title">Birthday</span></div></a></td></tr><tr><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#F3565D"><div class="fc-content"><span class="fc-time">4p</span> <span class="fc-title">Repeating Event</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-23"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2017-04-24"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2017-04-25"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2017-04-26"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2017-04-27"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2017-04-28"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2017-04-29"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2017-04-23">23</td><td class="fc-day-number fc-mon fc-future" data-date="2017-04-24">24</td><td class="fc-day-number fc-tue fc-future" data-date="2017-04-25">25</td><td class="fc-day-number fc-wed fc-future" data-date="2017-04-26">26</td><td class="fc-day-number fc-thu fc-future" data-date="2017-04-27">27</td><td class="fc-day-number fc-fri fc-future" data-date="2017-04-28">28</td><td class="fc-day-number fc-sat fc-future" data-date="2017-04-29">29</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#1bbc9b"><div class="fc-content"><span class="fc-time">4p</span> <span class="fc-title">Repeating Event</span></div></a></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" href="http://google.com/" style="background-color:#F8CB00"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Click for Google</span></div></a></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2017-04-30"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2017-05-01"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2017-05-02"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2017-05-03"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2017-05-04"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2017-05-05"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2017-05-06"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2017-04-30">30</td><td class="fc-day-number fc-mon fc-other-month fc-future" data-date="2017-05-01">1</td><td class="fc-day-number fc-tue fc-other-month fc-future" data-date="2017-05-02">2</td><td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2017-05-03">3</td><td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2017-05-04">4</td><td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2017-05-05">5</td><td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2017-05-06">6</td></tr></thead><tbody><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">10:30a</span> <span class="fc-title">Meeting</span></div></a></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div> </div>
                </div>

                <a class="logmod__close" onclick="note_disclick()">Close</a>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="schedule-background"></div>
</div>

<%= render "dashboardpage/footer.html.erb" %>

<script>
    $("#page-title").html("<h4>Patient Management</h4>");
</script>